<div class="container committee--container">
  <div class="col-xs-12 col-md-offset-1 col-md-10 col-xl-offset-2 col-xl-8">

    <div class="row">
      <h1 class="page-main-header">Our Committee</h1>
    </div>

    <div class="committee-members">
      <% @committee_members.each_with_index do |committee_member, index| %>
        <% align = @alignments[index % 2]%>

        <div class="row committee-member">
          <div class="col-xs-12 col-md-3">
            <div class="row committee-member--small-image-holder">
              <div class="col-xs-6 col-md-12">
                <%= image_tag("#{committee_member.image_link}.jpg", width: '130', class: "committee-member--image") %>
              </div>
              <div class="hidden-md-up col-xs-6">
                <p class="committee-member--name"><%= committee_member.name %></p>
                <p class="committee-member--position"><%= committee_member.position %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-9 pull-<%= @alignments[index % 2 - 1] %>">
            <div class="committee-member--block">
              <p class="hidden-md-down committee-member--name"><%= committee_member.name %></p>
              <p class="hidden-md-down committee-member--position"><%= committee_member.position %></p>
              <p class="committee-member--intro"><%= committee_member.intro %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
