<div class="container posts--container">
  <div class="col-xs-12 col-md-offset-1 col-md-10 col-xl-offset-2 col-xl-8">

    <% if user_signed_in? && current_user.has_role?(:admin) %>
      <div class="row new-post-btn--container">
        <div class="col-xs-12">
          <%= link_to new_post_path do %>
            New Post
          <% end %>
        </div>
      </div>
    <% end %>

    <%# <%= react_component('PostsBox', url: '/posts.json', react_params: @react_params) %1> %>

    <div class="posts">
      <% @posts.each do |post| %>
        <div class="post">
          <div class="posts--post-summary">
            <h2 class="post-summary--post-title">
              <a href=<%= post_path(post) %> class="post-summary--post-link">
                <%= post.title %>
              </a>
              <p class="post-summary--post-time muted">
                <%= post.created_at.in_time_zone('Singapore').strftime("%B %d") %>
              </p>
            </h2>
            <div class="post-summary--post-synopsis">
              <%= markdown post.content.truncate(350) %>
              <%= link_to 'Read more', post_path(post) %>
            </p> 
            <br>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
