<div class="container post--container">
  <div class="col-xs-12 col-md-offset-1 col-md-10 col-xl-offset-2 col-xl-8">

    <div class="row edit-post-btn--container">
      <div class="col-xs-12">
        <% if user_signed_in? && current_user.has_role?(:admin) %>
          <%= link_to 'Edit', edit_post_path(@post) %> |
        <% end %>
        <%= link_to 'Back', posts_path %>
      </div>
    </div>

    <h1 class="page-main-header post--title">
      <%= @post.title %>
      <br><br>
      <p class="post--time muted">
        <%= @post.created_at.in_time_zone('Singapore').strftime("%B %d") %>
      </p>
    </h1>
    <div class="post--content">
      <%= markdown @post.content %>
    </div>
  </div>
</div>
