<!DOCTYPE html>
<html>
<head>
  <title>UCSC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body data-spy="scroll" data-target="home-top-navbar">

  <div class="container-fluid" id="fullpage">
    <%= render 'shared/xl_menu' %>
    <div class="row">
      <%= render 'shared/menu' %>
    </div>

    <div class="row masthead parallax parallax-1 section" id="masthead">
      <div class="masthead-hero">
        <h1 class="header masthead-hero--ucsc">United Condo Squash Club</h1>
        <h2 class="header masthead-hero--slogan">LIVE AND BREATHE SQUASH</h2>

        <div class="angle-down-container">
          <a href="#about-us" class="masthead--angle-down">
            <span class="fa fa-chevron-circle-down"></span>
          </a>
        </div>
      </div>
    </div>

    <%= yield %>
  </div>

</body>
</html>
